/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --titleColor: rgb(24, 24, 24);
  --textColor: rgb(117, 117, 117);
  --bgColor: rgb(253, 110, 10);
}

/* STYLE RESET */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", serif;
}

/* HEADER AREA STYLE */
.header {
  background-color: #fff8f3;
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: 80px 550px, 650px 400px;
}

/* NABVAR STYLE */
.navbar {
  width: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.navbar h3 {
  font-size: 34px;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar h3 span {
  color: var(--bgColor);
}
.nav-links li {
  display: inline-block;
  padding: 0 17px;
}
.nav-links li a {
  color: rgb(71, 71, 71);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
}
/* NAVBAR STYLE END */

/* BUTTON STYLE */
.btn {
  padding: 10px 14px;
  border-radius: 3px;
  background: var(--bgColor);
  color: #fff;
  border: 1px solid var(--bgColor);
  transition: all 0.3s;
  font-weight: 700;
}
.btn:hover {
  background-color: #f06706;
  cursor: pointer;
}

/* HERO SECTION STYLE */
.hero-section {
  display: flex;
}
.hero-section .developer {
  height: 500px;
  margin-left: 20px;
}
.hero-section .hero-content {
  width: 650px;
  height: 262px;
  margin-top: 150px;
  margin-left: 150px;
}
.hero-content .subtitle {
  color: rgb(71, 71, 71);
  font-size: 34px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0%;
}
.hero-content .title {
  color: var(--titleColor);
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0%;
}
.description {
  color: var(--textColor);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  margin-top: 20px;
  margin-bottom: 15px;
}
.hero-content .contact-btn {
  background: transparent;
  color: var(--bgColor);
  margin-left: 10px;
}
.contact-btn:hover {
  background-color: var(--bgColor);
  color: #fff;
}
.contact-btn i {
  color: var(--bgColor);
}

.hero-section .hero-image img {
  height: 513px;
  width: 443px;
}
/* Hero style end */

/* MAIN */
main {
  width: 72%;
  margin: auto;
}
main section {
  margin: 130px 0;
}
.text-center {
  text-align: center;
}

/* ABOUT SECTION STYLE */
.section-title {
  font-size: 26px;
}
.about {
  background-color: rgb(255, 248, 243);
  padding: 100px 0;
  border-radius: 8px;
}
.about-content {
  width: 638px;
  margin: auto;
  background-color: #fff;
  border: 2px solid var(--textColor);
  padding: 10px;
}
.about .about-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-contact p {
  color: rgb(117, 117, 117);
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.about-contact span {
  color: rgb(117, 117, 117);
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

/* SKILL SECTION STYLE */
.skills .title-description {
  width: 690px;
  margin: 20px auto;
}
.skills .my-skill {
  display: flex;
  justify-content: space-around;
  text-align: left;
  gap: 18px;
}
.my-skill div {
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 15px 20px;
}
.my-skill img {
  width: 33px;
  margin-bottom: 14px;
}

/* RESUME SECTION STYLE */
.resume .btn {
  margin-top: 20px;
}
.education-experience {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  text-align: left;
  margin-top: 80px;
  color: rgb(71, 71, 71);
}
.education-experience h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 31px;
}
.education-experience h5 {
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 5px;
}
.education-experience h6 {
  color: rgb(117, 117, 117);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
.education-degree,
.my-experience {
  border-bottom: 1px solid rgb(209, 209, 209);
  margin: 15px 0;
}
.education-degree:nth-last-child(1),
.my-experience:nth-last-child(1) {
  border: none;
}
/* RESUME STYLE END */

/* FOOTER AREA STYLE */
.footer {
  background-color: #fff8f3;
  padding: 100px 130px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.footer .description {
  width: 400px;
}
.footer .icon-link i {
  color: var(--bgColor);
  margin: 0 5px;
}
.footer .footer-message form {
  margin-top: 20px;
}
.footer-message form input {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: none;
  outline: none;
  border-radius: 3px;
}
.footer-message form textarea {
  padding: 15px;
  border: none;
  width: 100%;
}
.footer-message input[type="submit"] {
  width: 100px;
}
